* {
  font-family:
    Mona Sans,
    sans-serif;
}
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family:
    Mona Sans,
    sans-serif;
}
/* in index.css or App.css */
.page-wrap {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
