*,
*::before,
*::after {
  font-family: Mona Sans;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.page-wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* fix any component that has its own offset */
/* .why-wrap,
.hiw-wrap,
.sp-wrap,
.cta-wrap {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
} */
html,
body,
#root {
  /* overflow-x: hidden; */
  width: 100%;
  max-width: 100%;
}
